<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Nome e e-mail</title>
    
</head>
<body>
    
    <form method="POST" action="hello">

        <h1>Criando um BackEnd com o método POST</h1><br>
        <input type="text" name="nome" id="nome"/><br><br>
        <input type="email" name="email" id="email"/><br><br>
        <input type="submit" value="Enviar"/>

    </form>

</body>
</html>